<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lifesafe insurance | Service</title>
  <link rel="stylesheet" href="../static/css/service.css" />
  <link rel="icon" href="../static/img/logo.png" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
</head>

<body>
  <header>
    <img src="../static/img/logo.png" alt="Lifesafe-logo" class="logo" />
    <div class="brand-name">Lifesafe Insurance</div>
    
    <nav>
      <ul>
        <li>
          <a href="../">Home</a>
        </li>
        <li class="active">
          <a href="#">Service</a>
        </li>
        <li>
          <a href="../about">About</a>
        </li>
        <li>
          <a href="../contact">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="entry">
    <section class="entry-content">
      <div class="question">
        <h1>
          Health Insurance
        </h1>
        <p>
          Providing medical expense in case of emergency to life.
        </p>
      </div>
      <img class="health-insurance" src="../static/img/health-insurance.png" alt="team" />
    </section>
    <a></a>
    <div class="contact">
      <!-- <h2>Put you & your family in good hands</h2> -->
      <div class="form-container">
        <h2>Start With a Free Custom Quote</h2>
        <!-- <p>Got questions? Let us know and we will reach you on time. </p> -->
        <div class="contact-form">
          <form action="/getPremium" id="getQuote" method="POST" onsubmit="send(event,this)"">
            <input required type="text" placeholder="Name" />
            <input required type="number" maxlength="2" placeholder="Age" name="age" min="1">
            <input required type="number" maxlength="2" placeholder="BMI" name="bmi" min="1" step="any">
            <label for="alcohol">Alcohol: </label>
            <select name="alcohol" id="alcohol" required>
              <option value=""></option>
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
            <label for="smoker">Smoker: </label>
            <select name="smoker" id="smoker" required>
              <option value=""></option>
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
            <label for="gender">Gender: </label>
            <select name="gender" id="gender" required>
              <option value=""></option>
              <option value="1">Male</option>
              <option value="0">Female</option>>
            </select>
            <label for="quit">Ready to Quit Smoking And Alcohol: </label>
            <select name="quit" id="quit" required>
              <option value=""></option>
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
            <label for="occupation">Occupation: </label>
            <select name="occupation" id="occupation" required>
              <option value=""></option>
              <option value="10">Loggers</option>
              <option value="11">Pilotes</option>
              <option value="12">FireFighters</option>
              <option value="13">Others</option>
            </select>
            <br>
            <button type="submit" name="button" id="button">Get Quote</button>
            <br><br>
            <div id="uname_response" ></div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <section class="benifits">   
    <button>Ready To get a quote?</button>
  </section>
  
  <section class="faqs">
    <h1>
      Frequently asked questions
    </h1>
    <div class="faq-container">
      <div class="faq">
        <h4 class="q">
          How a person can reduce amount paid as the premium?
        </h4>
        
        <p class="ans">
          <b>1.</b> If the person is ready to quit smoking and drinkng then his/her premium amount can be reduced by <b>4%</b><br>
          <b>2.</b> If the person is not in any risk taking job then his/her premium will be less than the person involved in risk taking jobs.<br>
          <b>3.</b> If the person is not suffering from Obesity.<br>
        </p>
      </div>
      <div class="faq">
        <h4 class="q">
          Why do I need health insurance?
        </h4>
        
        <p class="ans">
          Health insurance plans assist you in protecting yourself and your 
          near and dear ones from any financial risks or uncertainties that 
          arise due to a medical emergency. A smart health insurance plan from 
          a reliable health insurance provider can help you protect your hard-earned 
          savings and assets when medical emergencies are on the rise.
        </p>
      </div>
      
      <div class="faq">
        <h4 class="q">What is the cashless facility?</h4>
        
        <p class="ans">
          During hospitalisation, normally insured has to pay the hospital 
          bill/treatment expenses out of pocket. Under a cashless facility 
          the insurance company pays the treatment expenses directly to the 
          hospital as per the policy conditions and the remaining should be 
          borne by the insured. Lifesafe Insurance offers a cashless facility 
          to reduce the financial burden to the insured at the time of 
          hospitalisation across India.
        </p>
      </div>
      
      <div class="faq">
        <h4 class="q">Does health insurance cover diagnoistic charges?</h4>
        
        <p class="ans">
          All our health insurance plans cover diagnostic tests like X-ray,
          MRI, blood tests and more, as long as they are associated with the 
          in-patient hospitalisation for more than 24 hours. If the diagnostic 
          tests are done for evaluation/investigation without positive existence 
          of illness are not payable.
        </p>
      </div>
      
      <div class="faq">
        <h4 class="q">
          Do I have to undergo any medical examination before buying a health insurance?
        </h4>
        
        <p class="ans">
          Yes, you may have to undergo medical tests before buying a health insurance. 
          Also, some health insurance policies ask for it only if you have a pre existing 
          illness or you are above 40 years old.
        </p>
      </div>
      
      <div class="faq">
        <h4 class="q">What is the Benefit of Buying Health Insurance At A Young Age?</h4>
        
        <p class="ans">
          You get to pay a lower premium and higher benefits. Probability of having a 
          pre-existing illness is low hence waiting periods may also not impact you. 
          Also, common illnesses such as flu and accidental injury can happen at any 
          age so staying covered even when you are young is important..
        </p>
      </div>
      
      <div class="faq">
        <h4 class="q">
          What are the things I should consider before buying my health insurance policy?
        </h4>
        
        <p class="ans">
          Before making a health insurance policy purchase, it is advisable for you to 
          consider your medical needs, the type of plan you want to invest in, features 
          of the plan, sum insured options, network hospital list, exclusions, premium, 
          and customer reviews.
        </p>
      </div>
    </div>
  </section>
  
  <section class="others">
    <h1>Other Insurances</h1>
    <div class="insurances">
      <div class="insurance">
        <img src="../static/img/business-insurance.png" alt="" />
        <h4>Business Insurance</h4>
        <p>
          Safeguarding your business from any normal or hyper disaster.
        </p>
      </div>
      
      <div class="insurance">
        <img src="../static/img/home-insurance.png" alt="" />
        <h4>Home Insurance</h4>
        <p>
          Recovery of house after fire/disaster/theft on home.
        </p>
      </div>
      
      <div class="insurance">
        <img src="../static/img/family.png" alt="" />
        <h4>Life Insurance</h4>
        <p>
          Life insurance provides a financial benefit to your loved ones.
        </p>
      </div>
    </div>
    
    <button>Browse&nbsp;All</button>
  </section>
  <footer>
    Copyright&copy;2022
  </footer>
</body>
<script>
  function send(e,form) {
    e.preventDefault();
    fetch(form.action, {method:'post', body: new FormData(form)}).then(response => response.json()).then(data => {
      document.getElementById("uname_response").innerHTML ="Your Personalized Health Premium is: ₹"+ data['prem'];
    });
  }
</script>
</html>
